body{
    background-color:whitesmoke;
    padding: 14px 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.accordian{
    background-color: white;
    margin-bottom:16px ;
    padding: 10px 12px;
    box-shadow: 1px 1px 5px white;
    border-radius: 4px;
}
.question, .question_2, .question_3{
    display: flex;
    justify-content: space-between;
}
.icon, .icon_2, .icon_3{
    margin-left: 36px;
    margin-bottom: 19px;
}
.answer, .answer_2, .answer_3{
    color: rgba(3, 1, 36, 0.4);
    max-height: 0px;
    overflow: hidden;
}

.icon.active, .icon_2.active, .icon_3.active{
  transform: rotate(-180deg);
}
.answer.active{
    max-height: fit-content;
}
.answer_2.active{
    max-height: fit-content;
}
.answer_3.active{
    max-height: fit-content;
}

