*{
    box-sizing: border-box;
    list-style: none;
    margin: 0px;
}
header h1{
    text-align: center;
    background-color: cadetblue;
    padding: 30px;
    color: rgb(0, 0, 14);
    text-shadow: 8px 10px 9px;
   
}
nav a {
    display:block;
    text-decoration: none;
    text-transform: uppercase;
    color: burlywood;
    padding: 30px 40px;
    float:left;}
    
nav{
    background-color: brown;
    overflow: hidden;
}

